# DevOps Project1 gitignore file

# Generic Files
*.swp
*.bak
*.back
*.log

# Specific Folders
/.vagrant/*
/virtualbox/*

# Specific Files
*.sec

# System Files
.DS_Store
thumbs.db
.idea/workspace.xml

